extends ../layout
block content
  form#sign-up-form.form-signin(action="/user/create" method="POST" data-ng-controller="form")
    h2.form-signin-heading Create an account
    - var hasFlash = (flash && flash.err)
    if hasFlash
      ul.alert.alert-success !{flash.err}    
    .control-group
      input.form-control(type="text" placeholder="username" name="username" data-ng-model="username")
      div(data-ng-switch="usernameState")
        span(data-ng-switch-when="empty")
        span(data-ng-switch-when="loading") Loading
        span(data-ng-switch-when="taken") Username '{{username}}' is taken. Try 'user' instead...
        span(data-ng-switch-when="free") Free!

    .control-group
      input.form-control(type="text" placeholder="email address" name="email")
    .control-group
      input.form-control(type="text" placeholder="password" name="password" id="password" data-ng-model="password")
      br
      input.form-control(type="text" placeholder="password confirmation" name="confirmation" data-ng-model="passwordConfirm")
      br
      span(data-ng-show="passwordsDontMatch") Passwords don't match
    .control-group
      input.btn.btn-lg.btn-primary.btn-block(type="submit" value="Create Account" data-ng-disabled="!formValid")
      input(type="hidden" name="_csrf" value="#{_csrf}")