!!!
html(ng-app='crmApp')
  head
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    // STYLES
    // STYLES END
  body
    block body

    script(src='http://code.jquery.com/jquery-2.0.3.min.js')
    // SCRIPTS
    // SCRIPTS END
    script
        google.load('visualization', '1.0', { 'packages': ['corechart'] });